*.ignore.*
*.pex
*.wem
*.fuz
*.seq
!Data/SEQ/{{project_name}}.seq
*.esm
*_AF.esp
*.esl
*.ba2
*.bsa
*.dat
*.ilstrings
*.dlstrings
*.strings
__pycache__
SF1Edit Backups
SF1Edit Cache
build
output
meta.ini
Backup
Release
ModInfo.psc
info.xml